apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cicd-demo-app-dev
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  
  source:
    repoURL: 'git@gitlab.com:your-org/config-repo.git'
    targetRevision: main
    path: environments/dev
    helm:
      valueFiles:
        - values.yaml
  
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: dev
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
      - PrunePropagationPolicy=foreground
      - PruneLast=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
  
  revisionHistoryLimit: 10
  
  ignoreDifferences:
    - group: apps
      kind: Deployment
      jsonPointers:
        - /spec/replicas
